<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>{% block head_title %}{% endblock head_title %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{% static 'css/blog.css' %}"/>
  <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/png">
  {% block head_extra %}{% endblock head_extra %}
  <style>
  h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
  body {font-family: "Open Sans"}

  {% block styling %}

  {% endblock styling %}

  </style>
</head>

<body class="w3-light-grey">
{% include 'messages_display.html' %}
  <div class="w3-bar w3-black">
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-pinterest"></i></a>
    {% if not request.user.is_authenticated %}
          <a href="{% url 'account_signup' %}" class="w3-bar-item w3-button w3-right">Sign Up</a>
          <a href="{% url 'account_login' %}" class="w3-bar-item w3-button w3-right">Login</a>
          {% else %}
          <a href="{% url 'account_logout' %}" class="w3-bar-item w3-button w3-right">Logout</a>
    {% endif %}
  </div>
<div class="w3-content" style="max-width:1600px">
  {% block page_header %}{% endblock %}
  {% block content %}{% endblock content %}
<footer class="w3-container w3-dark-grey" style="padding:32px">
  <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <p>copyright ©2020</p>
</footer>
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}
</body>
</html>

