{% extends "blog.html" %}
{% load crispy_forms_tags %}

{% block head_title %}

{{ instance.title }}

{% endblock head_title %}

{% block content %}
	<div class="w3-row w3-padding w3-border">
	
				<a href="#" style="text-decoration: none; color: #365899;">{{ comment.user }}</a>
					<p>{{ comment.content }}</p>
				<small id="inline">{{ comment.timestamp|timesince }} ago</small> | 

				 {% if comment.children.count > 0 %} 
				 {{ comment.children.count }} comment{% if comment.children.count > 1 %}s{% endif %} |
				 {% endif %}

				 {% if request.user == comment.user %}
				 <small id="inline"><a href="{{ comment.get_delete_url }}">Delete</a></small>
				 {% endif %}
				 <hr/> 

				<div>
					{% for child_comment in comment.children %}
					<blockquote>
						<a href="#" style="text-decoration: none; color: #365899;">{{ child_comment.user }}</a>
							<p>{{ child_comment.content }}</p>	
						<small id="inline"> {{ child_comment.timestamp|timesince }} ago |</small>{% if request.user == child_comment.user %}<small id="inline"><a href="{{ child_comment.get_delete_url }}"> Delete</a></small>{% endif %}
					</blockquote>
					{% endfor %}

					{% if request.user.is_authenticated %}
					<form method="POST" class="w3-container" action=".">{% csrf_token %}

						{{ form|crispy }}

						<input type="hidden" name="parent_id" value="{{ comment.id }}">

						<button class="w3-button w3-blue" type="submit">Reply</button>
					</form>
					{% else %}
					<p> you must login to comment </p>
					{% endif %}
				</div>

			<hr/>

	</div>
{% endblock content %}




