{% extends "blog.html" %}
{% load crispy_forms_tags %}

{% block head_title %}

{{ instance.title }}  
{% endblock head_title %}

{% block content %}
	<div class="w3-row w3-padding w3-border">
		<div class="w3-center">
			<h1>Confirm your Delete.</h1>
			<p>Are you sure you want to delete "{{ object.content }}"?</p>
			<form method="POST" action=''>{% csrf_token %}
			<button class="w3-button w3-red w3-border" type="submit">Delete</button>
			</form>
			<a href="{{ object.get_absolute_url }}"><button class="w3-button w3-border">Cancle</button></a>
		</div>
	</div>

			<hr/>
{% endblock content %}




