{% extends "base.html" %}

{% block title %}Mellif | About Team Mellif. {% endblock title %}

{% block page_title %} About Us {% endblock page_title %}


{% block meta_head %}

The best cakes in your hometown, Kathmandu, Nepal delivered at your doorstep. Urgent cakes available in less than 1 hour. Cash On Delivery. Birthday Cake, Anniversary Cake, Wedding Cakes. Custom Cakes. Your own designs. Party cakes. Cake related with sports like Football and many other surprise cakes. Gifts and Pillows.

{% endblock meta_head %}

{% block content %}
	
<div class="w3-container w3-margin-bottom w3-margin-top">
	<p>Mellif  is currently Kathmandu based dedicated seller of quality cakes. We are Nepali owned and managed, established in 2017. Our goal is to make your occasions beautiful with surprises and always maintaining the quality of our product.
	<p>
	<p>
	Our cakes are made with only the finest, freshest ingredients by our experienced chef. We've grown to offer more and more of the finest cakes with lots of gift hampers. There is no better way to celebrate a special occasion than to send a little indulgence from someone who cares. We fully believe on quality and customer satisfaction.
	</p><br> 

	<h3>Vision</h3>
	<p>
	MelliF’s  vision is to achieve a remarkable market in Nepal E-Commerce sector in bakery area.
	</p><br>

	<h3>Mission</h3>
	<p>
	Our Mission  is to proactively provide satisfaction with timely delivery, real time order via website and full customer satisfaction.
	</p>

	<h3>Our team </h3>
	<p>
	We were formed with different sector but our aim to make a successive place of bakery in Nepal’s E-Commerce. 
	<h3>
	<i>“Quality product with customer satisfaction is our main aim”</i>

	</h3>

</div>


{% endblock content %}



{% block script %}

$(document).ready(function(){
    $( ".about" ).addClass( "w3-dark-grey" );
    var elmnt = document.getElementById("mySidebar");
    elmnt.scrollLeft = 0;
    elmnt.scrollTop = 1000;
});

{% endblock script %}





