{% extends "base.html" %}
{% block title %} Mellif | Cakes for Festivals {% endblock title %}

{% block page_title %} Festivals {% endblock page_title %}

{% block meta_head %}

The best cakes in your hometown, Kathmandu, Nepal delivered at your doorstep. Urgent cakes available in less than 1 hour. Cash On Delivery. Cakes for Festivals. Gifts and Pillows.

{% endblock meta_head %}

{% block content %}
<div class="w3-row">

        {% for each in cakes %}
        <div class="w3-col l3 s6">
          <div class="w3-container">
            <div class="w3-display-container">
              <img alt="{{ each.name }}" src="{{ each.image.url }}" style="width:100%">
              <!-- <span class="w3-tag w3-display-topleft">New</span> -->
              <div class="w3-display-middle w3-display-hover">
                <a href="{{ each.get_absolute_url }}">
                <button class="w3-button w3-red">Buy now <i class="fa fa-shopping-cart"></i></button>
                </a>
              </div>
            </div>
            <div style="padding-top: 10px;">
            <h3><small>{{ each.name|truncatechars_html:15 }}<br><b>Rs: {{ each.price }}/-</b></small></h3>
            </div>
          </div>
        </div>
        {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if cakes.has_previous %}
            <a href="?{{ page_request_var }}={{ cakes.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" style="color: blue;">previous</a>
        {% endif %}

        <span class="current">
            Page {{ cakes.number }} of {{ cakes.paginator.num_pages }}.
        </span>

        {% if cakes.has_next %}
            <a href="?{{ page_request_var }}={{ cakes.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" style="color: blue;">next</a>
        {% endif %}
    </span>
</div>

{% endblock content %}


{% block script %}

$(document).ready(function(){
    $( "#festivals" ).addClass( "w3-dark-grey" );
});

{% endblock script %}
